* {
    margin: 0;
    padding: 0;
}

p{
    padding: 12px 12px 8px 8px;
    font-size: 20px;
}

p::first-line {
    font-size: 24px;
}

@media screen and (min-width: 600px) {
    article {
        display: grid;
        grid-template-columns: 300px 300px;

    }
}
    

